@font-face {
	font-family: ChronicleDisplaySemibold;
	font-display: swap;
	src: url("../fonts/ChronicleDisplaySemibold.woff2") format("woff2"), url("../fonts/ChronicleDisplaySemibold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GilroyBold;
	font-display: swap;
	src: url("../fonts/GilroyBold.woff2") format("woff2"), url("../fonts/GilroyBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GilroyEextraBolditalic;
	font-display: swap;
	src: url("../fonts/GilroyEextraBolditalic.woff2") format("woff2"), url("../fonts/GilroyEextraBolditalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GilroyRegular;
	font-display: swap;
	src: url("../fonts/GilroyRegular.woff2") format("woff2"), url("../fonts/GilroyRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GilroyMedium;
	font-display: swap;
	src: url("../fonts/GilroyMedium.woff2") format("woff2"), url("../fonts/GilroyMedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
