:root {
	--container-width: 1790px;
	--container-padding: 15px;

	--font-main: sans-serif;
	--font-accent: 'Gilroy', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #0B1D26;
	--text-color: #FFFFFF;
	--accent: #FBD784;
	--link-color: #FBD784;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}